<section id="educacion">
  <div class="conteiner">
    <div class="row"></div>
    <h2 class="titulo">Educación</h2>
    <div class="col-lg-12 d-flex row">

      <div class="trabajo col-lg-10 col-sm-12 d-flex row justify-content-md-center">
        <div class="col-lg-4 col-sm-12 ">
          <ul class="fondo-datos">
            <li>2022 - Actualidad</li>
            <li>Argentina Programa 4.0</li>
          </ul>
        </div>
        <div class="col-lg-8 col-sm-12">
          <ul>
            <li>
              <h4>Desarrollador Full Stack</h4>
            </li>
            <li>
              Es un programa para acceder a capacitaciones gratuitas en: programación, testing y
              habilidades digitales.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-12 d-flex row">

    </div>
    <div class="trabajo col-lg-10 col-sm-12 d-flex row justify-content-md-center">
      <div class="col-lg-4 col-sm-12 ">
        <ul class="fondo-datos">
          <li>2019 - Actualidad</li>
          <li>Universidad Provincial de la Punta</li>
        </ul>
      </div>
      <div class="col-lg-8 col-sm-12">
        <ul>
          <li>
            <h4>Desarollador de Software</h4>
          </li>
          <li>
            Formar alumnos con sólidos conocimientos, que puedan insertarse exitosamente en el
            ámbito laboral regional, asegurando la adquisición de las competencias requeridas por el
            mercado del trabajo, a través de una adecuada secuenciación e integración de conceptos y
            la aplicación de metodologías y herramientas enfocadas al desarrollo de software.

          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-12 d-flex row">

    <div class="trabajo col-lg-10 col-sm-12 d-flex row justify-content-md-center">
      <div class="col-lg-4 col-sm-12 ">
        <ul class="fondo-datos">
          <li>2010 - 2019</li>
          <li>Universidad Nacional de San Luis</li>
        </ul>
      </div>
      <div class="col-lg-8 col-sm-12">
        <ul>
          <li>
            <h4>Tecnicatura Universitaria en Redes de Computadoras</h4>
          </li>
          <li>
            Preparar graduados capacitados para desempeñarse adecuadamente en ambientes de redes de
            computadoras de acuerdo a las exigencias actuales, y que sean capaces de manejar con
            idoneidad los conceptos y principios del ámbito de su competencia; comprender y utilizar
            los manuales y bibliografía adecuada; y manejar con idoneidad las técnicas
            experimentales necesarias. Al término de sus estudios el egresado deberá estar
            capacitado para: Identificar y conocer adecuadamente las topologías de red, protocolos y
            estándares. Instalar y configurar el hardware de red de clientes y servidores. Instalar
            y configurar el software de red de clientes y servidores.
        </ul>
      </div>
    </div>
  </div>


</section>