<section id="contacto">

  <div class="conteiner">
    <div class="row">
      <h2 class="titulo">Contacto</h2>
      <div class="col-lg-4 col-sm-12 row">
        <div class="d-flex row">
          <i class="fa-solid fa-phone"></i>
          <h6> Teléfono:

          </h6>
        </div>
        <p>266-4253375</p>

      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="d-flex row">
          <i class="fa-sharp fa-solid fa-location-dot"></i>
          <h6> Dirección:

          </h6>
        </div>
        <p>Granaderos Puntanos 930</p>
        <p>San Luis Capital</p>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="d-flex row">
          <i class="fa-solid fa-envelope"></i>
          <h6> Email:

          </h6>
        </div>
        <p>maximilianogatica83@gmail.com</p>
      </div>
    </div>

  </div>
  <!-- Botones Modales-->

  <div class="col-lg-12 col-sm-12 ">
    <ul class="botones-back">

      <li><button type="button" class="btn login" data-bs-toggle="modal" data-bs-target="#editar-contacto">
          <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

        </button>

      </li>

    </ul>
  </div>


  <app-contactoform></app-contactoform>
</section>