* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.2rem;
}

ul li {
  list-style-type: none;
}
.iconos li {
  margin-left: 1rem;
}
.logo {
  width: 6rem;
}
.iconos {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
}

.login {
  padding: 0%;
  font-size: 0.85rem;
}

.navbar-nav li a {
  color: white;
}

#navegacion {
  color: white !important;
  padding: 1rem 4rem;
  background-color: rgb(48, 70, 194) !important;
  position: fixed;
  z-index: 999;
  width: 100%;
}
@media (max-width: 1015px) {
  .nav-link {
    font-size: 0.85rem;
  }
  .navbar-toggler {
    color: #fff !important;
  }
}
@media (max-width: 482px) {
  .menu-celu {
    display: flex;
    justify-content: space-between;
    width: 18rem;
  }
  .navbar > .container,
  #navegacion .navbar {
    display: inline-block !important;
  }
  #navegacion .iconos {
    margin-top: 2rem !important;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: inline-block !important;
  }
}
