<!-- Modal  editar-experiencia-laboral-->
<div class="modal fade" id="editar-experiencia-laboral" tabindex="-1" aria-labelledby="#editar-experiencia-laboral"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Logo de la Empresa</label>
            <input type="file" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha Final</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha de Inicio</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nombre de la Empresa</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Cargo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripción</label>
            <textarea class="form-control" id="mensaje" name="mensaje" data-msg="Escribe un mensaje"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

      </div>
    </div>
  </div>
</div>
<!-- Final modal editar-experiencia-laboral-->

<!-- Modal  eliminar-experiencia-laboral-->
<div class="modal fade" id="eliminar-experiencia-laboral" tabindex="-1" aria-labelledby="#eliminar-experiencia-laboral"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar esta experiencia laboral?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>