<!-- Modal  editar-proyecto3-->
<div class="modal fade" id="editar-proyecto3" tabindex="-1" aria-labelledby="#editar-proyecto3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Título</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Descripción</label>
            <textarea class="form-control" id="exampleInputPassword1">
                                                                  </textarea>
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Link</label>
            <input type="link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

      </div>
    </div>
  </div>
</div>
<!-- Final modal editar-proyecto3-->

<!-- Modal  eliminar-proyecto3-->
<div class="modal fade" id="eliminar-proyecto3" tabindex="-1" aria-labelledby="#eliminar-proyecto3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar este lenguaje?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>
<!-- Final modal-eliminar-proyecto3 -->