<section id="sobre-mi">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <img class="img-fluid" src="../../../assets/img/perfil.jpg" alt="" />
      </div>
      <div class="col-lg-8 col-sm-12">
        <h2 class="titulo">Sobre Mí</h2>
        <h3>Maximiliano Angel Gatica</h3>
        <h5>Desarrollador de Software</h5><br>
        <p>
          Soy un <strong>desarrollador de software</strong> con una
          pasión por crear soluciones innovadoras y atractivas para la web y
          los dispositivos móviles. Con experiencia en <strong> HTML, CSS,
            JavaScript, PHP, Angular, Java</strong>, me esfuerzo por producir código
          limpio, eficiente y accesible tanto para la web como para
          aplicaciones móviles. </p>
        <p> Mi experiencia incluye el desarrollo de
          sitios web y aplicaciones móviles para pequeñas empresas y
          proyectos personales. Me enfoco en garantizar una experiencia de
          usuario excelente en todos los dispositivos, trabajando de manera
          colaborativa con diseñadores y otros desarrolladores para alcanzar
          los objetivos de proyecto.
        </p>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 ">
        <ul class="botones-back">

          <li><button type="button" class="btn login" data-bs-toggle="modal" data-bs-target="#editar-sobre-mi">
              <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

            </button>

          </li>
          <li><button type="button" class="btn login" data-bs-toggle="modal" data-bs-target="#eliminar-sobre-mi">
              <i class="fa-solid fa-trash-can fa-2x" style="color: #1cad7d;"></i>
            </button></li>
        </ul>
      </div>
    </div>
  </div>
  <app-sobremiform></app-sobremiform>
</section>