<section id="experiencia-laboral">
  <div class="conteiner">
    <div class="row">
      <h2 class="titulo">Experiencia Laboral</h2>
      <!-- Trabajo1 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="../../../assets/img/henry.png" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2021 - Actualidad</li>
            <li>Henry Bootcamp</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Profesor</h4>
            </li>
            <li>
              Coordinación y asistencia a estudiantes durante su trayecto en
              el bootcamp. - Planificación y desarrollo de actividades,
              evacuación de dudas. Programa: JavaScript, PHP, Android,
              Java, MySql, entre otros
            </li>
          </ul>

        </div>
      </div>
      <div class="col-lg-12 col-sm-12 ">
        <ul class="botones-back">

          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#editar-experiencia-laboral">
              <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

            </button>

          </li>
          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#eliminar-experiencia-laboral">
              <i class="fa-solid fa-trash-can fa-2x" style="color: #1cad7d;"></i>
            </button></li>
        </ul>
      </div>
      <!-- Modal  editar-experiencia-laboral-->
      <div class="modal fade" id="editar-experiencia-laboral" tabindex="-1"
        aria-labelledby="#editar-experiencia-laboral" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Logo de la Empresa</label>
                  <input type="file" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Fecha Final</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Fecha de Inicio</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nombre de la Empresa</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Cargo</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>


                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Descripción</label>
                  <textarea class="form-control" id="mensaje" name="mensaje" data-msg="Escribe un mensaje"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Final modal editar-experiencia-laboral-->

      <!-- Modal  eliminar-experiencia-laboral-->
      <div class="modal fade" id="eliminar-experiencia-laboral" tabindex="-1"
        aria-labelledby="#eliminar-experiencia-laboral" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Desea eliminar esta experiencia laboral?</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Final modal-eliminar sobre mi-->

      <!-- Trabajo1fin -->

      <!-- Trabajo2 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="../../../assets/img/runaid.jpg" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2015 - 2020</li>
            <li>RunaId</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Desarrollador Web</h4>
            </li>
            <li>
              Desarrollar nuevas funcionalidades y mantenimiento sobre los sistemas actuales que
              tiene la empresa.
              - Realizar desarrollos desde cero y participar en integraciones.
              - Construir APIs robustas y performantes.
              - Participar en todas las etapas del ciclo de desarrollo de software.
              - Realizar mantenimiento y mejoras en el código tanto en Back-end como en el
              Front-end de las aplicaciones.
              - Base de datos
            </li>
          </ul>

        </div>
      </div>
      <div class="col-lg-12 col-sm-12 ">
        <ul class="botones-back">

          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#editar-experiencia-laboral-2">
              <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

            </button>

          </li>
          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#eliminar-experiencia-laboral-2">
              <i class="fa-solid fa-trash-can fa-2x" style="color: #1cad7d;"></i>
            </button></li>
        </ul>
      </div>
      <!-- Modal  editar-experiencia-laboral-->
      <div class="modal fade" id="editar-experiencia-laboral-2" tabindex="-1"
        aria-labelledby="#editar-experiencia-laboral-2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Logo de la Empresa</label>
                  <input type="file" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Fecha Final</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Fecha de Inicio</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nombre de la Empresa</label>
                  <input type="text" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Cargo</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>


                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Descripción</label>
                  <textarea class="form-control" id="mensaje" name="mensaje" data-msg="Escribe un mensaje"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Final modal editar-experiencia-laboral-2-->

      <!-- Modal  eliminar-experiencia-laboral-2-->
      <div class="modal fade" id="eliminar-experiencia-laboral-2" tabindex="-1"
        aria-labelledby="#eliminar-experiencia-laboral-2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>¿Desea eliminar esta experiencia laboral?</p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

            </div>
          </div>
        </div>
      </div>
      <!-- Final modal-eliminar experiencia-labora-2-->
      <!-- Trabajo2fin -->

      <!-- Trabajo3 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="../../../assets/img/fusap.png" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2012 - 2015</li>
            <li>Fusap</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Desarrollador Movil</h4>
            </li>
            <li>
              Realizar Mantenimiento y Desarrollo de Sistemas para Productos Bancarios
              Usar las metodogías ágiles y herramientas de trabajo establecidas
            </li>
          </ul>

        </div>
      </div>
      <div class="col-lg-12 col-sm-12 ">
        <ul class="botones-back">

          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#editar-experiencia-laboral-3">
              <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

            </button>

          </li>
          <li><button type="button" class="btn login" data-bs-toggle="modal"
              data-bs-target="#eliminar-experiencia-laboral-3">
              <i class="fa-solid fa-trash-can fa-2x" style="color: #1cad7d;"></i>
            </button></li>
        </ul>
      </div>
    </div>
  </div>
  <app-experiencialaboralform></app-experiencialaboralform>
</section>