<section id="experiencia-laboral">
  <div class="conteiner">
    <div class="row">
      <h2 class="titulo">Experiencia Laboral</h2>
      <!-- Trabajo1 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="assets/img/henry.png" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2021 - Actualidad</li>
            <li>Henry Bootcamp</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Profesor</h4>
            </li>
            <li>
              Coordinación y asistencia a estudiantes durante su trayecto en
              el bootcamp. - Planificación y desarrollo de actividades,
              evacuación de dudas. Programa: JavaScript, PHP, Android,
              Java, MySql, entre otros
            </li>
          </ul>

        </div>
      </div>
      <!-- Trabajo1fin -->

      <!-- Trabajo2 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="assets/img/runaid.jpg" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2015 - 2020</li>
            <li>RunaId</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Desarrollador Web</h4>
            </li>
            <li>
              Desarrollar nuevas funcionalidades y mantenimiento sobre los sistemas actuales que
              tiene la empresa.
              - Realizar desarrollos desde cero y participar en integraciones.
              - Construir APIs robustas y performantes.
              - Participar en todas las etapas del ciclo de desarrollo de software.
              - Realizar mantenimiento y mejoras en el código tanto en Back-end como en el
              Front-end de las aplicaciones.
              - Base de datos
            </li>
          </ul>

        </div>
      </div>
      <!-- Trabajo2fin -->

      <!-- Trabajo3 -->
      <div class="col-lg-12 d-flex row trabajo">

        <div class="logo-experiencia col-lg-2">
          <img class="img-fluid" src="assets/img/fusap.png" alt="" />
        </div>
        <div class="col-lg-4">
          <ul class="fondo-datos">
            <li>2012 - 2015</li>
            <li>Fusap</li>
          </ul>
        </div>
        <div class="trabajo col-lg-6 col-sm-12 d-flex row justify-content-md-center">


          <ul>
            <li>
              <h4>Desarrollador Movil</h4>
            </li>
            <li>
              Realizar Mantenimiento y Desarrollo de Sistemas para Productos Bancarios
              Usar las metodogías ágiles y herramientas de trabajo establecidas
            </li>
          </ul>

        </div>
      </div>
      <!-- Trabajo3fin -->



    </div>
  </div>
</section>