<!-- Modal  editar-angular-->
<div class="modal fade" id="editar-angular" tabindex="-1" aria-labelledby="#editar-angular" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>



          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Icono</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Porcentaje</label>
            <input type="number" class="form-control" id="exampleInputPassword1">
          </div>



          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>

      </div>
    </div>
  </div>
</div>
<!-- Final modal editar-angular-->

<!-- Modal  eliminar-angular-->
<div class="modal fade" id="eliminar-angular" tabindex="-1" aria-labelledby="#eliminar-angular" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar este lenguaje?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Si</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>