<section id="proyectos">
  <div class="conteiner">
    <div class="row ">
      <h2 class="titulo">Proyectos</h2>
      <div class="col-lg-4 col-sm-12 col-md-4 proyecto">
        <div class="card " style="width: 18rem;">
          <img src="assets/img/proyecto1.PNG" class="card-img-top" alt="...">
          <div class="card-body ">
            <h5 class="card-title">Sitio Web Estático</h5>
            <p class="card-text">Se realizó un sitio web para un estudio jurídico con cuatro
              páginas.</p>
            <a target="_blank" href="https://ejcorrea.com.ar/" class="btn btn-primary">Ir a la
              Página</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 proyecto">
        <div class="card " style="width: 18rem;">
          <img src="assets/img/proyecto2.PNG" class="card-img-top" alt="...">
          <div class="card-body ">
            <h5 class="card-title">Sitio Web Dinámico</h5>
            <p class="card-text">Se realizó una Tienda Virtual para una casa de ropas.</p>
            <a target="_blank" href="https://www.dafiti.com.ar/dias-d" class="btn btn-primary">Ir a
              la Página</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 proyecto">
        <div class="card " style="width: 18rem;">
          <img src="assets//img/proyecto3.PNG" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sitio Web Estático</h5>
            <p class="card-text">Se realizó un sitio web para un centro de ortopedia y
              traumotología.</p>
            <a target="_blank" href="https://centroprivadosegura.com.ar/" class="btn btn-primary">Ir
              a la Página</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>