<section id="inicio">
  <div class="conteiner">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center titulo-banner">
          Hola, Soy Maximiliano Angel Gatica <br />
          Desarrollador Full Stack
        </h1>
      </div>

    </div>

  </div>

  <app-inicioform></app-inicioform>
</section>
<!-- Botones Modales-->

<div class="col-lg-12 col-sm-12 ">
  <ul class="botones-back">

    <li><button type="button" class="btn login" data-bs-toggle="modal" data-bs-target="#editar-portada">
        <i class="fa-solid fa-pen-to-square fa-2x" style="color: #1cad7d;"></i>

      </button>

    </li>

  </ul>
</div>