* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.2rem;
}

ul li {
  list-style-type: none;
}

progress[value] {
  /* Elimino la apariencia por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Quito el borde que aparece en Firefox */
  border: none;

  /* Añado mis propios estilos */
  width: 270px;
  height: 30px;
  overflow: hidden;

  /*  Estos estilos solo se aplicaran al fondo de la barra en mozilla */
  border: 1px inset #666;
  background-color: #d8d8d8;
}

#habilidades .progress {
  padding: 2rem 1rem;
  margin: 0 2rem 1rem 0;
}

#habilidades .botones-back {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.progress i {
  font-size: 2rem;
}

.progress p {
  padding: 0 1rem;
}

.progress {
  background-color: rgb(223, 224, 230);
  border-radius: 0;
  align-items: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.git {
  fill: cornsilk;
  width: 20px;
  margin-left: 1rem;
}
#sobre-mi,
#experiencia-laboral,
#educacion,
#habilidades,
#proyectos,
#contacto {
  padding: 5rem 4rem;
}

.titulo {
  color: rgb(48, 70, 194);
  text-align: left;
  padding-bottom: 3rem;
}

.modal-title,
.form-label {
  color: gray;
}

.modal-backdrop {
  position: static !important;
}
@media (max-width: 600px) {
  #sobre-mi,
  #experiencia-laboral,
  #educacion,
  #habilidades,
  #proyectos,
  #contacto {
    padding: 3rem 1.5rem;
  }
}
